    body{
       background-color:rgb(82, 172, 142);
   }
   img{
      display: block;
      margin: 0% auto;
      border-radius: 50%;
   }
   h1{
       text-align: center;
       background-color: rgb(88, 212, 17)
    
    }